@import './variables';
@import './Global.scss';
$primary:#0c8573;
$secondary:white;
$tertiary:#c74298;
$primary-text:#3D3E3E;

nav, footer {
  background-color: $primary !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

// .App-header {
//   background-color:$primary;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color:$secondary;
// }

.deakin-burger{
  background-color: $secondary;
  color:$primary;
  border-radius: 70px 0 0 70px;
  margin: 0 0px !important;
  width: 100px;
  i{
    display: inline !important;
  }

}

// Used in home.jsx.. useless
.App-link {
  color: #61dafb;
}

// Used in home.jsx.. useless
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-avatar {
  max-height: 56px;
  width: auto;
  margin-top: 4px;
}

.header-username {
  padding: 0 15px;
  font-weight: 600;
}

.card-panel {
  color : get-color(white, color);
  background-color: $primary !important;
}

.padding-rmv {
  padding: 0px !important;
}

.margin-bot-rm {
  margin-bottom: 0 !important;
}

.margin-top-rm{
  margin-top: 0;
}

.margin-top {
  margin-top: 33.227px;
}

.justify-content {
  text-align: justify;
}

.margin-rm {
  margin: 0 !important;
}

.text-color-white {
  color: white !important;
}

.text-color-black {
  color:$primary-text !important;
}

// .message{
//   display: block;
//   width: 100%;
//   height: 100px;
//   overflow: hidden;
// }

.heading {
  font-size: 30px;
}

.sub-heading {
  font-size: 20px;
}

.description {
  font-size: 15px;
}

.btn-width-100{
  width: 100%;
}

.collapsible li.active i {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.Login{
  min-height: 100vh;
  background-image: url("images/ipan2.png");
}

.collapsible-header {
  display: block !important;
  text-align: left;
}