@import './variables';

nav, footer {
  background-color: get-color(green, darkest) !important;
}

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #0C8573;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-avatar {
  max-height: 56px;
  width: auto;
  margin-top: 4px;
}

.header-username {
  padding: 0 15px;
  font-weight: 600;
}

main {
  flex: 1 0 auto;
}

.card-panel {
  color : get-color(white, color);
  background-color: get-color(green, darkest) !important;
}

.flat-btn {
  color: get-color(white, color);
  background-color: get-color(green, darkest);
}

.margin-bot-rm {
  margin-bottom: 0 !important;
}

.padding-top {
  padding-top : 40px;
}

.margin-top-rm{
  margin-top: 0;
}

.justify-content {
  text-align: justify;
}

.margin-rm {
  margin: 0 !important;
}

.text-color-white {
  color: white !important;
}

.text-color-black {
  color: black !important;
}

.heading {
  font-size: 30px;
}

.sub-heading {
  font-size: 20px;
}

.description {
  font-size: 15px;
}

.iconBox {
  border: 2px black solid;
  border-radius: 5px;
}

.collapsible li.active i {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}