@import './variables';
$primary:#0c8573;
$secondary:white;
$tertiary:#c74298;
$primary-text:#3D3E3E;

// Main layout start

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  font-family: Open Sans, Arial, sans-serif
}

html, body {
  height:100%;
  min-height:100%;
  // Next line code will remove bouncy effect on website
  overscroll-behavior: none;
}

header {
  flex: 0 0 auto;
}

main {
  flex: 1 1 auto;
  position: relative;/* need this to position inner content */
  overflow-y: scroll;
}

footer {
  flex: 0 0 auto;
}

// .footer-fixed {
// 	position: fixed;
// 	bottom: 0;
// 	width: 100%;
// }
// Main layout end

// HEADER AND MOBILE MENU

.Header{
  .name-profile{
    margin-top: 10px;
    border: none;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 16px 30px 18px !important;
    min-width: 230px;
    max-height: 55px;
    color:$primary !important;
    text-decoration: none !important;
    text-align: center;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 14px;
    line-height: 1.4rem;
    border-color: 5px solid $primary; 
    border-radius: 30px;
    font-family: Arial,sans-serif;
    font-weight: bold;
    font-style: normal;
    background-color:white;
  }

  .logout-button{
    margin-top: 60px;
    border: none;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 16px 30px 18px !important;
    min-width: 230px;
    max-height: 55px;
    color: white !important;
    text-decoration: none !important;
    text-align: center;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 14px;
    line-height: 1.4rem;
    border-radius: 30px;
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;
    font-family: Arial,sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: #c74298;
    margin-left: 30px;
  }

  .deakin-burger-title{
    float: left;
    padding-left: 16px;
  }
  .material-icons{
    // color:$primary !important;
    font-weight: bold !important;
  }

  .sidenav li>a{
    font-size: 24px;
    padding: 0 10px;
    color:$primary
  }

  .sidenav{
    text-align: left
  }

  .profile-div{
    margin-top: 0px;
    text-align: center;
    background-color:$primary;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .notification-badge {
    font-family: "Roboto", sans-serif;
    position: relative;
    right: 5px;
    top: -20px;
    color: get-color(white, color);
    background-color: #00bcd4;
    margin: 0 -.8em;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 0.5em;
  }
}

h2{
  font-weight: bold !important;
  color:#3D3E3E;
  font-size: 2.3rem !important; 
}


///////// PROGRAM CARDS


///// LOGIN
.Login{
  min-height: 100vh;
  height: 100vh;
  background-image: url("images/ipan2.png");
  h2{
    margin: 0px;
    padding-top: 100px;
    color:$primary
  }
  .col {
    padding: 0px !important;
  }
  .login-credentials-div{
    margin-top: 200px;
  }
  .login-form-styling {
    padding: 0 10px 0 10px !important;
    border-radius: 20px !important;
  }
  #error-message {
    font-weight: $font-weight-bold;
  }
  .input-field {
    margin: 20px 0 20px 0;
    font-size: 1.4rem;
  }
  label {
    font-size: 1.2rem !important;
    line-height: 0.2;
  }
  #login-button{
    border: none;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 10px 30px 18px;
    min-width: 230px;
    max-height: 55px;
    color:$secondary;
    text-decoration: none!important;
    text-align: center;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 14px;
    line-height: 1.4rem;
    transition: all .15s ease-out;
    font-family: Arial,sans-serif;
    font-style: normal;
    background-color: $tertiary;
    font-weight: $font-weight-bold;
    border-radius: 20px !important;
  }
  .dev-message {
    position: fixed;
    bottom: 0px;
    width: 100%;
  }
}
